pug/bases/header.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Abhay Raj Singh - NIT Hamirpur</title><!-- Open Graph--><meta property="og:title" content="Abhay Raj Singh : Scientist | Developer | Humble"><meta property="og:site_name" content="Abhay Raj Singh"><meta property="og:type" content="website"><meta property="og:description" content="MSE undergraduate, NIT Hamirpur"><meta property="og:image" content="https://rathod-sahaab.github.io/resources/photos/me11.jpg"><meta property="og:url" content="https://rathod-sahaab.github.io/"><!-- /Open Graph--><!-- style sheets--><link rel="stylesheet" href="/styles/main.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"><link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet"></head><body id="home"><header><div class="row"><a id="logo" href="https://rathod-sahaab.github.io"><img src="/resources/images/alogo.svg" alt="A" srcset="">				bhay</a><div id="menu-toggler" onclick="menuToggle()">Menu</div><nav class="collapsed" id="menu"><ul><li><a class="active" href="#about" onclick="menuToggle()">about</a></li><li><a href="#projects" onclick="menuToggle()">projects</a></li><li><a href="#contact" onclick="menuToggle()">find me!!</a></li><li><a href="" onclick="menuToggle()">resume</a></li></ul></nav></div></header><section class="row" id="sidebar"><input id="sidebar-check" type="checkbox"><span></span><div class="card"><div id="identity-card"><div id="dp"><img src="/resources/photos/me11.jpg"></div><div id="name-card"><h1>Abhay Raj Singh</h1> MSE Undergraduate <br> NIT Hamirpur <br> Scientist | Developer | Humble</div><div id="progress-bar-container"><div class="progress-bar"><div></div></div></div></div></div></section></body></html>

pug/bases/header.pug
doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Abhay Raj Singh - NIT Hamirpur
		// Open Graph
		meta(property='og:title', content='Abhay Raj Singh : Scientist | Developer | Humble')
		meta(property='og:site_name', content='Abhay Raj Singh')
		meta(property='og:type', content='website')
		meta(property='og:description', content='MSE undergraduate, NIT Hamirpur')
		meta(property='og:image', content='https://rathod-sahaab.github.io/resources/photos/me11.jpg')
		meta(property='og:url', content='https://rathod-sahaab.github.io/')
		// /Open Graph
		// style sheets
		link(rel='stylesheet', href='/styles/main.css')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')
		link(href='https://fonts.googleapis.com/css?family=Montserrat:400,500,700', rel='stylesheet')
		block headelms
	body#home
		header
			.row
				a#logo(href='https://rathod-sahaab.github.io')
					img(src='/resources/images/alogo.svg', alt='A', srcset='')
					| 				bhay
				#menu-toggler(onclick='menuToggle()')
					| Menu
				nav#menu.collapsed
					ul
						-
							var urls = [
								{ "url":"#about"   ,"text":"about"   , "class":"active"},
								{ "url":"#projects","text":"projects" },
								{ "url":"#contact" ,"text":"find me!!" },
								{ "url":""         ,"text":"resume" },
							];
						each url in urls
							li
								a(href=url.url class=url.class onclick='menuToggle()')
									| #{url.text}
		section#sidebar.row
			input#sidebar-check(type='checkbox')
			span
			.card
				#identity-card
					#dp
						img(src='/resources/photos/me11.jpg')
					#name-card
						h1 Abhay Raj Singh
						|  MSE Undergraduate 
						br
						|  NIT Hamirpur 
						br
						|  Scientist | Developer | Humble
					#progress-bar-container
						.progress-bar
							div
block content
